*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 600px;
    height: 600px;
    display: block;
}
.contenedor .contenedorBotones{
    display: flex;
    flex-direction: row;
    flex-wrap: wraps;
    justify-content: center;
    align-items: center;
}