* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
  background: #dcdde1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #letras {
  width: 60%;
  height: 60%;
  background: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background: #d38312; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a83279,
    #d38312
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a83279,
    #d38312
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}
.container #letras .inputUser{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #letras .inputUser input{
    width: 10%;
    height: 30%;
    border: none;
    border-bottom: 5px solid black;
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 3px;
}
.container #letras .inputUser label{
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
}
.container #letras #numLetras{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #letras #numLetras input {
  width: 10%;
  height: 30%;
  border: none;
  border-bottom: 5px solid black;
  margin: 10px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 3px;
}
.container #letras .button{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container #letras .button button{
    background: url('boton-de-play.svg') no-repeat;
    background-size: contain;
    background-position: center;
    width: 10%;
    height: 80%;
    border:none;
    padding: 20px;
}